﻿<div class="cssClassProductDetailInformation">
    <div id="dynUserReviewDetailsForm" class="sfFormwrapper">
        <div class="cssClassTabPanelTable1">
            <div id="UserDetails_TabContainer">
                <div id="UserDetailsTitle"><h2><span>Ratings & Reviews </span></h2></div>
                <div id="UserTab-Reviews" style="overflow-y:scroll; height:388px; margin-top:10px;"><table cellspacing="0" cellpadding="0" border="0" id="tblRatingPerUser"><tr><td><div class="cssClassRateReview"><div class="cssClassUserRating"><div class="cssClassuserRatingBox"><div class="cssClassRatingStar"><div class="cssClassToolTip"><input name="avgRatePerUser1" type="radio" class="star-rate {split:1}" disabled="disabled" value=Poor /><input name="avgRatePerUser1" type="radio" class="star-rate {split:1}" disabled="disabled" value=OK /><input name="avgRatePerUser1" type="radio" class="star-rate {split:1}" disabled="disabled" value=Fair /><span class="cssClassRatingTitle2 cssClassUserRatingTitle_1">Good</span><input name="avgRatePerUser1" type="radio" class="star-rate {split:1}" disabled="disabled" checked="checked" value="Good" /><input name="avgRatePerUser1" type="radio" class="star-rate {split:1}" disabled="disabled" value=Nice /><input type="hidden" value="Good" id="hdnRatingTitle1"></input><span class="cssClassReviewId_1"></span></div></div></div><div class="cssClassRatingdesc"><p class="cssClassRatingReviewDesc">Good Services.</p></div><div class="cssClassRatingInfo" style="float:left "><p><span>Reviewed by <strong>superuser</strong></span></div></div></div></td></tr>
               <tr><td><div class="cssClassRateReview"><div class="cssClassUserRating"><div class="cssClassuserRatingBox"><div class="cssClassRatingStar"><div class="cssClassToolTip"><input name="avgRatePerUser2" type="radio" class="star-rate {split:1}" disabled="disabled" value=Poor /><input name="avgRatePerUser2" type="radio" class="star-rate {split:1}" disabled="disabled" value=OK /><input name="avgRatePerUser2" type="radio" class="star-rate {split:1}" disabled="disabled" value=Fair /><input name="avgRatePerUser2" type="radio" class="star-rate {split:1}" disabled="disabled" value=Good /><span class="cssClassRatingTitle2 cssClassUserRatingTitle_2">Nice</span><input name="avgRatePerUser2" type="radio" class="star-rate {split:1}" disabled="disabled" checked="checked" value="Nice" /><input type="hidden" value="Nice" id="hdnRatingTitle2"></input><span class="cssClassReviewId_2"></span></div></div></div><div class="cssClassRatingdesc"><p class="cssClassRatingReviewDesc">I had good experience with Kiranababu.com.Kiranababu's customer service is very good because I get all my groceries from there and delivery is fast.he</p></div><div class="cssClassRatingInfo" style="float:left "><p><span>Reviewed by <strong>jyoti</strong></span></div></div></div></td></tr>
               </table>
            </div>
        </div>
    </div>
        </div>
    </div>
