/* common styles */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    background: #f2f2f2;
    font: 14px/20px Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    font: bold 20px Tahoma, Geneva, sans-serif;
    padding: 0 0 20px 0;
    color: #555;
}

p.sfCenter {
    text-align: center;
}

input:focus {
    outline: none;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

a img {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

#sfOuterwrapper a.sflogo img {
    margin: 60px auto 10px;
    border: none;
}

p.sfBack {
    margin: 10px auto;
    width: 300px;
    text-align: center;
}

.icon-save:before {
    content: "\e628";
}

/*.sfErrorA {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ed1c24;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}*/
/*---Normal link---*/
a {
    color: #2D4C80;
    text-decoration: none;
    font: 14px Tahoma, Geneva, sans-serif;
}

    a:hover, a:active, a:focus {
        color: #034D68;
        text-decoration: underline;
    }

    a img {
        border: none;
    }

.sfLogoholder {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

td.sfCatpchatd {
    padding: 5px 0;
}

    td.sfCatpchatd input.sfCaptchadata {
        margin: 0 0 0 5px;
        width: 15px;
        float: left;
    }

img.sfCaptcha {
    margin: 0;
    display: inline-block;
}

p {
    font: bold 12px/18px Tahoma, Geneva, sans-serif;
    color: #545454;
}

.sfLogin {
    position: relative;
    float: left;
    width: 100%;
    /*margin: 0 10%;*/
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
}
.sfInputbox, .sfLogininside .sfInputbox{
      padding: 0px 15px 0px 15px!important;
}
.sfInputbox, .sfLogininside .sfInputbox, .sfForgotPasswordPageLeft .sfInputbox, .sfUserRegistration .sfInputbox, .sfFallbackStatement .sfInputbox, .sfPagenotAccesibleInfo .sfInputbox {
    height: 50px;
    line-height: 50px !important;
    font-size: 18px;
    padding: 0px 15px 0px 55px;
    padding: 0px 15px 0px 10px;
    border: 1px solid #ddd;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f2f2f2;
    color: #737373;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

    .sfInputbox:focus, .sfLogininside .sfInputbox:focus, .sfForgotPasswordPageLeft .sfInputbox:focus, .sfUserRegistration .sfInputbox:focus, .sfFallbackStatement .sfInputbox:focus, .sfPagenotAccesibleInfo .sfInputbox:focus {
        background-color: #fff;
        -webkit-box-shadow: 0 0 8px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 8px rgba(0,0,0,.2);
        box-shadow: 0 0 8px rgba(0,0,0,.2);
        border: solid 1px #ccc;
    }
.sfUserRegistration .sfBtn{
     margin-top: 10px!important;;
}
.sfBtn, .sfLogininside .sfBtn, .sfForgotPasswordPageLeft .sfBtn, .sfUserRegistration .sfBtn, .sfFallbackStatement .sfBtn, .sfPagenotAccesibleInfo .sfBtn {
    /*margin-right: 10px;*/
     /*margin-top: 50px;*/
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 10px 0px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    /*background:  #1c9999;*/
     background: #455480;
   
   
}

    .sfBtn:hover {
        background: #6474a0;
        color: #fff;
        text-decoration: none;
    }

    .sfBtn:active {
        -moz-box-shadow: 0 3px 2px rgba(0, 82, 125, 0.3) inset;
        -webkit-box-shadow: 0 3px 2px rgba(0, 82, 125, 0.3) inset;
        box-shadow: 0 3px 2px rgba(0, 82, 125, 0.3) inset;
    }

.sfFormlabel {
    font: 13px Tahoma, Geneva, sans-serif;
    color: #777;
}

.sfBtnlogin {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid none;
    cursor: pointer;
    border: none;
    padding: 4px 15px;
    font: bold 12px Tahoma, Geneva, sans-serif;
    margin-right: 7px;
}

    .sfBtnlogin:hover {
        background: url("../images/btn-bg-hover.png") repeat-x;
    }

h2 {
    font: 24px Tahoma, Geneva, sans-serif;
    color: #515357;
    margin-bottom: 20px;
}

.sfSagewrapper {
    margin: 0 auto 30px;
     
}
#sfOuterwrapper{
        width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.sfForgotPasswordPage {
     border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
}
.sfRecoverPasswordPage{
 border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
}
.sfFailure {
    color: #fff;
    background: #d05a5a;
}



.sfLogininside, .sfForgotPasswordPageLeft, .sfUserRegistration, .sfFallbackStatement, .sfPagenotAccesibleInfo {
    width: 350px;
    /*margin: 20px 0 20px auto;*/
        margin: 30px auto;
    background: #fff;
    position: relative;
    padding: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-transition: background 0.2s linear;
    overflow: hidden;
    /*float: left;*/
        
}

    .sfForgotPasswordPageLeft table {
        width: 100%;
    }

.OpenID {
    padding: 20px 0;
    width: 470px;
    margin: 80px auto 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
    position: relative;
    float: right;
}

    .OpenID h3 {
        color: #555;
        font: normal 17px Tahoma, Geneva, sans-serif;
        padding-bottom: 10px;
    }

    .OpenID input {
        margin: 0px 10px;
        opacity: 0.7;
        width: 90px;
    }

        .OpenID input:hover {
            opacity: 1;
        }

        .OpenID input.sfGoogle {
            position: relative;
            top: 10px;
        }

.sfOr {
    position: absolute;
    left: 50%;
    top: -12px;
    display: inline-block;
    background: #f2f2f2;
    width: 24px;
    height: 24px;
    border: 1px solid #9a9a9a;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #555;
}


.sfLogininside p, .sfForgotPasswordPageLeft p, .sfUserRegistration p, .sfFallbackStatement p, .sfPagenotAccesibleInfo p {
    margin-bottom: 10px;
    border: none;
    background: none;
    position: relative;
}
.sfUserRegistrationInfoLeft .sfButtonwrapper{
    margin: 10px 0 0 0;
    overflow: hidden;
    width:80%;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
}
.sfButtonwrapper {
    margin: 10px 0 0 0;
    overflow: hidden;
    /*float:left;*/
    width:100%;
    /*margin-left: 33%;*/
    text-align: center;
}

    .sfButtonWrapper a {
        background: #0073A0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
        font: bold 12px Tahoma, Geneva, sans-serif;
        padding: 4px 7px;
        float: left;
    }

        .sfButtonWrapper a:hover {
            background: #069;
            text-decoration: none;
        }

.sfMessagebox {
    margin: 20px auto; /* 	padding:10px; 	padding-left:55px;*/
    font: bold 12px Tahoma, Geneva, sans-serif;
    color: #555;
    width: 290px;
}

.sfErrormsg .sfMessagebox {
    background: url(../images/error.png) no-repeat 15px center;
    color: #a21d21;
    font: bold 13px Tahoma, Geneva, sans-serif;
    padding: 8px 44px;
}

.sfSuccessmsg .sfMessagebox {
    background: url(../images/success.png) no-repeat 10px center;
    padding: 8px 44px;
    color: #090;
}

.sfAlertmsg .sfMessagebox {
    background: #fcffe5 url(../images/error.png) no-repeat 10px 50%;
    color: #ad3435;
    color: #a21d21;
    font: bold 11px/18px Tahoma, Geneva, sans-serif;
    padding: 8px 44px;
}

.sfLogin p.sfError, .sfError {
    color: #d41f1e;
    /*font-size: 14px;*/
    /*padding: 3px 3px 3px 25px;*/
}
.sfError{
    padding:0px!important;
}
input.sfError, input.sfError:focus {
    border-color: Red;
}

/* login page */

.sfLogin .sfFormlabel, .sfForgotPasswordInfo .sfFormlabel {
    padding-top: 5px;
    display: inline-block;
}

.cssClassForgotPass {
    padding-top: 5px;
}

    .cssClassForgotPass a {
        /*color: #1C9999;*/
    }

/* forgot password */
/*.sfForgotPasswordPage {
	width:350px;
}
.sfRecoverPasswordPage {
	width:450px;
}
*/
 .sfRecoverPasswordPage td {
    padding: 5px 0;
    /*font-size:25px;*/
}

.sfAllrequired {
    color: #bf6b6b !important;
    font: bold 11px/18px Tahoma, Geneva, sans-serif;
    display: inline-block;
    margin-top: 5px;
}

.sfForgotYourPassWordTopInfo b {
    font-size: 11px;
    margin: 0;
    color: #545454;
    line-height: 16px;
    padding: 0;
}

.sfForgotPasswordPage .sfButtonwrapper {
    /*float: left;*/
    margin-top: 15px;
}

.sfForgotPasswordPage .sfError {
}
/* user registration */
.sfUserRegistrationPage {
    width: 490px;
    margin: 0px auto 10px;
}

    .sfUserRegistrationPage .sfInputbox {
        padding-left: 10px;
        height: 30px;
        line-height: 30px !important;
        font-size: 13px;
    }

    .sfUserRegistrationPage .sfCatpchatd img {
        float: left;
        width: auto;
    }

    .sfUserRegistrationPage img {
        border-right: 1px solid #999 !important;
        border-bottom: 1px solid #999 !important;
    }

    .sfUserRegistrationPage .sfInputbox {
        margin: 5px 0;
    }
/* fallback */
.sfFallback {
    margin: 8% auto;
}

.sfFallbackHolder {
    margin-top: 30px;
    width: 60%;
}

.sfFallback h3 {
    color: #ea8905;
    font: normal 16px Tahoma, Geneva, sans-serif;
    letter-spacing: 0.5px;
}

.sfFallback h4 {
    color: #666;
    font-size: 13px;
}

.sfStatement {
}

.sfTemplateerror {
    background-color: #f6fbfd;
    padding: 10px;
    border: 1px dashed #aaa;
}

    .sfTemplateerror p {
        font: bold 12px/20px Tahoma, Geneva, sans-serif;
        color: #777;
    }

.sfFallback .sfButtonWrapper {
    overflow: hidden;
}

.sfException {
    color: #bb2804;
    display: none;
}

.sfExceptionHead {
    color: #0999d2;
    font: bold 12px Tahoma, Geneva, sans-serif;
    cursor: pointer;
}

    .sfExceptionHead:hover {
        color: #069;
    }

.sfButtonWrapper span {
    display: inline-block;
}
/* 404 page */
.sfPageNotFound {
    margin: 0 auto;
    width: 330px;
}

    .sfPageNotFound h1 {
        display: block;
        background: url(../images/404.png) no-repeat;
        width: 317px;
        height: 187px;
        text-indent: -9999px;
    }

p.sfPNFArrow {
    background: url(../images/Arrow1.gif) no-repeat 5px 5px;
    padding-left: 20px;
    font: 12px/18px Tahoma, Geneva, sans-serif;
}

.sfPageNotFound .sfButtonWrapper a, .sfPagenotAccesibleInfo .sfButtonWrapper a {
    position: relative;
    margin-left: 21px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .sfPageNotFound .sfButtonWrapper a:after, .sfPagenotAccesibleInfo .sfButtonWrapper a:after {
        border-bottom: 20px solid transparent;
        border-right: 20px solid #0073A0;
        border-top: 20px solid transparent;
        content: " ";
        display: block;
        height: 0;
        right: 95%;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 0;
        z-index: 2;
    }

    .sfPageNotFound .sfButtonWrapper a:hover:after, .sfPagenotAccesibleInfo .sfButtonWrapper a:hover:after {
        border-right: 20px solid #069;
    }
/* page not accesible */
.sfPagenotAccesibleInfo {
    overflow: hidden;
    padding-bottom: 20px;
}

    .sfPagenotAccesibleInfo h3 {
        background: url(../images/noaccess.png) no-repeat;
        min-height: 193px;
        width: 238px;
        margin: 0 auto;
        text-indent: -9999px;
    }

    .sfPagenotAccesibleInfo p {
        margin-bottom: 15px;
    }
/* loading */
#ajaxBusy, .sfLoadingdiv {
    bottom: 0;
    display: block;
    font: bold 17px/30px Tahoma, Geneva, sans-serif;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
    color: #fff;
    padding: 5px 0;
    background: rgba(0,0,0,0.8);
}

    #ajaxBusy img {
        margin-right: 5px;
    }

.sfModulecontent a.sfBtnlogin {
    margin: 0 auto;
    width: 40px;
    display: block;
}

.pstrength-minchar {
    font: 12px Tahoma, Geneva, sans-serif;
    color: #777777;
}

.cssClassUserActivation {
    text-align: center;
}

.pstrength-info span {
    font-size: 12px !important;
}
/*---- user profile---*/
.sfEditprofile {
    margin: 30px auto;
    background: #fff;
    position: relative;
    padding: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-transition: background 0.2s linear;
    overflow: hidden;
    width: 60%;
}

    .sfEditprofile .sfInputbox {
        padding: 0px 15px;
        height: 38px;
        line-height: 38px;
        font-size: 13px;
    }

    .sfEditprofile .sfBtn {
        font-size: 18px;
    }

.sfUserprofile .sfProfileimage {
    text-align: left;
    height: 8px;
}

.sfUserBasic .sfProfileimage {
    float: right;
    width: auto;
    text-align: right;
}

.sfUserprofile .sfViewprofile {
    float: left;
    width: auto;
}

    .sfUserprofile .sfViewprofile td {
        padding: 10px;
        color: #555;
        font: bold 13px Tahoma, Geneva, sans-serif;
    }

    .sfUserprofile .sfViewprofile span.sfFormlabel {
        font: bold 13px Tahoma, Geneva, sans-serif;
        white-space: nowrap;
    }

    .sfUserprofile .sfViewprofile textarea.sfTextarea {
        background: #fff;
        border: 1px solid #6FB2D0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #999;
        font: 12px Tahoma, Geneva, sans-serif;
        padding: 7px 5px;
        margin: 3px 0 0 0;
        width: 200px;
        outline: none;
    }

        .sfUserprofile .sfViewprofile textarea.sfTextarea:focus {
            -moz-transition: all 0.3s ease-in-out;
            -moz-box-shadow: 0 0 2px 1px #84B3CB;
            -webkit-box-shadow: 0 0 2px 1px #84B3CB;
            box-shadow: 0 0 2px 1px #84B3CB;
        }

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.sfTopmargin20 {
    margin-top: 20px;
}




/*************************font-icon*******************************************/
@font-face {
    font-family: "aspx";
    src: url("fonts/aspx.eot");
    src: url("fonts/aspx.eot?#iefix") format("embedded-opentype"), url("fonts/aspx.woff") format("woff"), url("fonts/aspx.ttf") format("truetype"), url("fonts/sageframe.svg#aspx") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "aspx" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sfUserName:before, .sfPassword:before, .sfEmail:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 28px;
    color: #b5b5b5;
    font-family: "aspx" !important;
    display: block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.sfUserName:before {
    content: "\e690";
}*//*for Icon display none comment by jyoti*/

/*.sfPassword:before {
    content: "\e689";
}*/

/*.sfEmail:before {
    content: "\e691";
}*/

/*.icon-arrow-slim-w:before {
    content: "\e618";
}*/

.icon-close:before {
    content: "\e614";
    font-family: "aspx" !important;
    display: block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sfEditprofile .sfPassword:before {
    content: "";
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
}

 p.sfDisplayName span.sfFormlabel {
        font-size: 13px;
        margin-right: 8px;
    }

        p.sfDisplayName span.sfFormlabel.sfDefaultName {
            font-size: 16px;
            font-weight: bold;
        }

.sfDefaultImage {
    background: url(../images/default-avatar.jpg) no-repeat center center;
    width: 120px;
    min-height: 90px;
    border: 1px solid #ccc;
    padding: 4px;
    width: 120px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.sfProfileimage label {
    position: absolute;
    left: 138px;
    top: 44px;
    background: #2a2a2a;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

    .sfProfileimage label input {
        display: none;
    }

    .sfProfileimage label:hover {
        background: #6a6a6a;
    }

.sfEditprofile table tr td {
    padding: 6px;
}

.sfEditprofile textarea.sfInputbox {
    height: 100px;
}

.sfUserRegistrationInfoLeft .sfError {
    float: left;
    width: 100%;
    padding: 0px;
     /*text-align:center;*/
}

    .sfUserRegistrationInfoLeft .sfError p {
        width: 100% !important;
    }

    .sfUserRegistrationInfoLeft .sfError.sfErrorBlock {
        display: block;
        float: none;
        text-align: left;
        width: auto;
        font-size: 11px;
    }

.sfUserRegistrationInfoLeft input {
    /*width: 95%;*/
    /*float: left;*/
}

.sfUserRegistrationInfoLeft .sfButtonwrapper input {
    /*width: auto;*/
}

#ProfileSetting .sfProfilewrapper {
    width: 450px;
}

    #ProfileSetting .sfProfilewrapper a.icon-close:before {
        display: inherit;
        margin-right: 5px;
    }

#ProfileSetting .sfImagewrapper {
    margin: 0;
}

    #ProfileSetting .sfImagewrapper span {
        font-size: 12px;
    }

.sfProfilewrapper .sfButtonwrapper {
    margin-left: 146px;
}

.sfImagewrapper {
    position: relative;
    border: 1px solid #d9d9d9;
    float: right;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 15px 20px;
    width: 290px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.sfProfilewraper {
    float: left;
    width: 60%;
}

.sfEditprofile .Changepswd input {
    width: 20%;
}

.sfButtonwrapper label input {
    display: none;
}


table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border-bottom: none !important;
    padding: 0;
}


.sfLogininside .sfCaptcha input, .sfForgotPasswordPageLeft .sfCaptcha input, .sfUserRegistration .sfCaptcha input, .sfFallbackStatement .sfCaptcha input, .sfPagenotAccesibleInfo .sfCaptcha input {
    padding-left: 15px;
    width: 200px;
}

/*---Safair hack excluding chrome by using"::i-block-chrome"----*/
/*@media screen and (-webkit-min-device-pixel-ratio:0) {   
  ::i-block-chrome, .sfInputbox { line-height:0 !important;}
}*/


/*alert box*/
#alert-Box {
    position: fixed;
    z-index: 99999;
    overflow: auto;
    margin: auto;
    top: 0;
    width: 35%;
    height: 30%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #000;
    padding: 30px;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
}
.csslablId{
   width:40%; margin-top: 16px; float: left;
}
.csstextbox{
     width:60%; float: left; margin-top: 8px;
}
#alert-BoxContenedor {
    text-align: center;
}

    #alert-BoxContenedor h1, #alert-BoxContenedor h2, #alert-BoxContenedor h3, #alert-BoxContenedor b, #alert-BoxContenedor strong {
        text-align: center;
        font-weight: bold;
        padding: 0;
        margin-bottom: 5px;
        margin-top: 18px;
    }

#alert-Buttons {
    margin-top: 20px;
}

    #alert-Buttons .cssClassSubmitBtn, #alert-Buttons input {
        padding: 10px;
        color: #fff;
        width: auto !important;
        background: #08c;
        border: none;
        font-size: 14px;
        margin-right: 5px;
    }

#alert-Box .BoxAlert:before {
    content: "\e714";
}

#alert-Box .BoxAlert:before, #alert-Box .BoxConfirm:before, #alert-Box .BoxPrompt:before, #alert-Box .BoxInfo:before, #alert-Box .BoxError:before, #alert-Box .MessageInfo:before, #alert-Box .Fail:before {
    font-size: 41px;
    color: orange;
    font-family: "aspx";
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*#alert-Box .AddToCartInfo:before {
    content: "\e761";
    color: green;
}*/
#alert-Box .Fail:before {
    content: "\e761";
    color: green;
}

.cssRegisLabel,.cssHalfLabel{
    width:33%;
    float:left;
    margin-top: 8px;
}
.cssRegisText,.cssHalfText{
    width:67%;
    float:left;
}
/*---Safair hack excluding chrome by using"::i-block-chrome"----*/
@media screen and (-webkit-min-device-pixel-ratio:0) {   
  ::i-block-chrome, .sfInputbox { line-height:0 !important;}
}
@media only screen and ( max-device-width: 1600px ){
.sfUserRegistration {
        padding: 15px;
        width: auto;
        margin: 0 10px;
    }
}
@media only screen and ( max-device-width: 1024px ){
	.sfForgotPasswordPageLeft{/*margin: 20px 0 20px 300px;*/}
.sfLogininside{/*width:326px;*/ width:50%;}
.OpenID{width:320px;}
}

@media only screen and ( max-device-width: 768px ) {
.sfUserRegistrationPage{width: 84%;margin-left: 8%;}
.cssRegisLabel,.cssHalfLabel{width:100%;}   
.cssRegisText,.cssHalfText{width:100%;}
.sfUserRegistration{padding:48px 48px 48px 104px;}
.sfFormlabel, a {font-size: 18px;}
.sfAllrequired {font-size: 14px;}
.pstrength-minchar,.pstrength-info span{font-size:14px!important;}
.sfUserRegistrationPage .sfInputbox{font-size:16px;}
.sfUserRegistration .sfInputbox{border-radius:0px;height:36px;width:95%;}
.sfAlertmsg .sfMessagebox{font-size:14px;}
.sfErrormsg .sfMessagebox{font-size:14px;}
.sfUserRegistrationPage .sfCatpchatd img{width:50%;}
/*.cssRegisText label{display:inline-table!important;}*/
}
@media only screen and ( max-device-width: 640px ){
body{font-size:16px;}
.sfUserRegistrationPage .sfInputbox{font-size:18px;width:95%;height:40px;}
.sfFormlabel,a{font-size:18px;}
.sfAllrequired{font-size:16px;}
#sfOuterwrapper a.sflogo img{width:40%;}
a{font-size:16px;}
.sfUserRegistrationPage{width: 80%;margin-left: 8%;}
.sfAlertmsg .sfMessagebox{font-size:16px;}
.sfErrormsg .sfMessagebox{font-size:16px;}
.sfLogin p.sfError, .sfError{font-size:16px!important;}
}

@media only screen and ( max-device-width: 480px ) {
    .cpimg{
        width:35%!important;
    }
.sfUserRegistrationPage{margin-left:10%;}
body{font-size:20px;}
.sfUserRegistration h2 {font-size: 28px;}
.sfUserRegistrationInfoLeft input{width:4%;}
.sfAllrequired {font-size: 20px;}
.sfButtonwrapper{margin-left:0%!important;}
.sfFormlabel,a{font-size:24px;}
.sfUserRegistrationPage img{width:60%!important;}
.sfUserRegistrationPage .sfInputbox{height:52px;font-size:24px;}
.pstrength-minchar, .pstrength-info span {font-size: 20px!important;}
.sfLogin p.sfError, .sfError {font-size: 20px!important;}
#alert-Box{width:44%;height:26%;padding:27px;}
#alert-BoxContenedor h1{font-size:26px;}
p{font-size:18px!important;}
#alert-Buttons input{padding:20px;font-size: 18px;}
.sfAlertmsg .sfMessagebox{font-size: 20px;width: 58%;}
.sfErrormsg .sfMessagebox{font-size: 20px;width: 58%;}
.sfUserRegistration .sfBtn{padding:14px 28px;}

/*.OpenID {margin: 20px auto 0;padding: 15px;width: auto;}
.OpenID input {width: 48px;}
.OpenID h3 {font-size: 14px;}*/
.sfLogin{margin:0px;width:100%;}
.sfLogininside {width: 82%;margin: 20px 0 0 48px;}
.sfLogininside h2 {font: 46px Tahoma, Geneva, sans-serif;margin-bottom: 40px;}
.sfLogininside p{margin-bottom: 40px;float: none !important;}
.OpenID{width: 80%;margin: 80px 0 0 70px;float:left;margin-bottom: 4%}
.OpenID h3{font: normal 34px Tahoma, Geneva, sans-serif;}
.sfOr{width: 34px;height: 30px;font-size: 34px;}
.OpenID input{width:168px;}
.sfInputbox, .sfLogininside .sfInputbox , .sfForgotPasswordPageLeft .sfInputbox{font-size:28px;height:80px;}
.sfForgotPasswordPageLeft .sfButtonwrapper {margin-left:20%;}
.sfForgotPasswordPageLeft h2{font: 34px Tahoma, Geneva, sans-serif;margin-bottom: 30px;}
.sfForgotPasswordPageLeft p{/*margin-bottom: 40px;*/}
.sfForgotPasswordPageLeft {/*margin: 20px 0 20px 58px;*/ width: 80%;}
.sfForgotPasswordPageLeft .sfBtn{padding: 15px 0px!important;font-size: 30px;}
.sfForgotPasswordInfo .sfCaptchaImage img{width: 85%;height: 115px;}
.sfForgotPasswordPageLeft .sfCaptcha input{width:100%;}
.sfForgotPasswordInfo .sfCaptchaImage input{width:28px;}
.cssClassForgotPass a{font-size: 34px;}
.sfLogininside .sfButtonwrapper{margin-left:0%;}
.sfLogininside .sfBtn {font-size: 32px;padding: 20px 0px;}
.sfLogininside .sfButtonwrapper{float:none!important;}
.sfUserName:before, .sfPassword:before, .sfEmail:before{top: 24px;font-size: 28px;}


}
@media only screen and ( max-device-width: 360px ) {
.sfForgotPasswordPageLeft .sfButtonwrapper {margin-left: 16%;}
.sfForgotPasswordPageLeft .sfBtn {padding: 23px 0px;font-size: 40px;}
.sfForgotPasswordPageLeft p {margin-bottom: 50px;}
.sfUserName:before, .sfPassword:before, .sfEmail:before {top: 30px;font-size: 32px;}
.icon-arrow-slim-w:before{font-size:22px;}
.sfOr {width: 46px;height: 39px;font-size: 46px;padding-top: 10px;left: 46%;top: -26px;}
.sfLogininside .sfBtn {font-size: 40px;padding: 26px 0px;}
.sfForgotPasswordInfo .sfCaptchaImage input{width:32px;}
.sfForgotPasswordPageLeft h2{font:42px Tahoma, Geneva, sans-serif;margin-bottom: 50px;}
.sfLogininside h2 {font: 58px Tahoma, Geneva, sans-serif;margin-bottom: 45px;}
.sfLogininside p{margin-bottom: 48px;}
.cssClassForgotPass a {font-size: 42px;}
.sfInputbox, .sfLogininside .sfInputbox, .sfForgotPasswordPageLeft .sfInputbox{font-size: 34px;height: 95px;}
.OpenID{font-size: 30px;border-top: 2px solid #ddd;border-bottom: 2px solid #ddd;margin-bottom: 8%;}
.OpenID h3{font: normal 40px Tahoma, Geneva, sans-serif;margin-top: 3%;}
.OpenID input{width:175px;}
body{font-size:26px;}
.sfUserRegistrationPage .sfInputbox {height: 65px;}
.pstrength-minchar,.pstrength-info span{font-size:30px!important;}
.sfUserRegistrationPage .sfInputbox{font-size:33px;}
.sfUserRegistrationPage{margin-left: 2%;width: 94%;}
.sfAllrequired {font-size: 28px;}
.sfFormlabel, a {font-size: 30px;}
.sfUserRegistration h2 {font-size: 40px;}
#sfOuterwrapper a.sflogo img{width:60%;}
.sfAlertmsg .sfMessagebox{font-size: 26px;width: 58%;}
.sfErrormsg .sfMessagebox{font-size: 26px;width: 58%;}
.sfUserRegistration .sfBtn{padding: 20px 34px;font-size: 32px;}
#alert-BoxContenedor h1{font-size:36px;}
p{font-size:22px;}
#alert-Box{width:50%;height:20%;}
#alert-Buttons input{padding:22px;font-size: 24px;}
}

@media only screen and ( max-device-width: 320px ) {
.sfUserRegistrationPage{margin-left:3%;}   
.sfButtonwrapper {margin-left: 34%;}
.sfUserRegistration{padding:48px 48px 48px 126px}
.sfUserRegistration .sfInputbox{width:90%;}
.sfUserRegistrationPage .sfInputbox {height: 80px;}
body{font-size:28px!important;}
.pstrength-info span{font-size:28px!important;}
#sfOuterwrapper a.sflogo img{width:70%;}
.sfUserRegistration h2 {font-size: 40px;}
.sfAllrequired {font-size: 32px;}
.sfFormlabel, a {font-size: 30px;}
p.sfBack{width:100%;}
.cssRegisLabel, .cssHalfLabel {margin-top: 20px;}
.sfUserRegistrationPage .sfInputbox {font-size: 40px;}
.sfLogin p.sfError, .sfError{font-size:28px;}
.sfUserRegistration .sfBtn{padding: 24px 32px;font-size: 36px;}
.sfErrormsg .sfMessagebox{font-size:30px !important;width:92%;}
.sfAlertmsg .sfMessagebox{font-size:30px!important;width:92%;}
.sfUserRegistrationPage img {width: 66%!important;}
.sfUserRegistrationInfoLeft input {width: 8%;margin-left: 2%;}
#alert-Box {height:20%;}
#alert-BoxContenedor p{font-size:28px!important;}
#alert-Buttons .cssClassSubmitBtn, #alert-Buttons input{font-size:32px;}
#alert-BoxContenedor h1 {font-size: 44px;}
.sfLogininside h2 {font: 60px Tahoma, Geneva, sans-serif;margin-bottom: 50px;}
.OpenID h3 {font: normal 48px Tahoma, Geneva, sans-serif;}
.OpenID input {width: 208px;}
.sfInputbox, .sfLogininside .sfInputbox , .sfForgotPasswordPageLeft .sfInputbox{font-size: 40px;height: 100px;}
.sfOr{font-size: 56px;padding-top: 12px;width: 64px;height: 50px;left: 46%;top: -38px;}
.sfForgotPasswordPageLeft h2{font:50px Tahoma, Geneva, sans-serif;margin-bottom: 60px;}
.sfForgotPasswordPageLeft .sfButtonwrapper {margin-left: 12%;}
.sfForgotPasswordPageLeft .sfBtn{font-size: 40px;}
.sfForgotPasswordPageLeft p {margin-bottom: 65px;}
.sfLogininside .sfBtn {font-size: 52px;padding: 33px 0px;}
.sfLogininside p{margin-bottom: 50px;}
.sfUserName:before, .sfPassword:before{top: 30px;left: 13px;font-size: 32px;}
.OpenID{margin-bottom:10%;}
.icon-arrow-slim-w:before{font-size:26px;}
}
.notallowed{cursor:not-allowed!important;}/*added by jyoti for button disable icon*/

